/.bashrc
/.config
/.gitigmore
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.vimrc
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/__pycache__
/.condarc
/.docker
/.gitconfig
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful